.cover {
    position: relative;
    width: 100%;
    height: 740px;
    background-image: url(../../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray;
    background-position: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #2A2C2F;
}

.cover:hover::before {
    opacity: 0.8;
}

/* Media query de tablets */
@media screen and (max-width: 1279px) {
    .cover  {
        height: 746px;
    }
}

/* Media query de mobiles */
@media screen and (max-width: 767px) {
    .cover  {
        height: 254px;
        gap: 16px;
    }
}

.cover__title {
  color: #FFFDFD;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.05; /* 105.556% */
  margin: 0;
  z-index: 1;
}

/* Media query de mobiles */
@media screen and (max-width: 767px) {
  .cover__title  {
      font-size: 32px;
      line-height: 1.093;
  }
}

.cover__subtitle {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 122.222% */
}

/* Media query de mobiles */
@media screen and (max-width: 767px) {
  .cover__subtitle  {
      font-size: 14px;
      line-height: 1.142;
  }
}

.cover__buy-link-button {
  margin: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
  padding: 13px 20px;
  border-radius: 4px;
  background: #0278FE;
  align-items: flex-start;
  gap: 10px;
  text-decoration: none;
  z-index: 1;
}

.cover__buy-link-button:hover{
  background: #0063D2;
}

.cover__description {
  z-index: 1;
}
