.lead__title {
    color: #FFF;
    text-align: center;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.041;
    padding-top: 90px;
    margin: 0;
    margin-left: 95px;
    margin-right: 96px;
}