.lead__subtitle {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    padding-top: 32px;
    margin: 0;
    margin-left: 132px;
    margin-right: 132px;
}