.cover__title {
    color: #FFFDFD;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.05; /* 105.556% */
    margin: 0;
    z-index: 1;
}

/* Media query de mobiles */
@media screen and (max-width: 767px) {
    .cover__title  {
        font-size: 32px;
        line-height: 1.093;
    }
} 