.cover {
    position: relative;
    width: 1184px;
    height: 740px;
    background-image: url(/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray;
    background-position: center;
    margin: 0;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background: #2A2C2F;    
}

.cover:hover::before {
    opacity: 0.8;
}