.cover__buy-link-butoon {
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 13px 20px;
    border-radius: 4px;
    background: #0278FE;
    align-items: flex-start;
    gap: 10px;
    text-decoration: none;
    margin-bottom: 243px;
}